/*-------------------- begin reset styles --------------------*/

* {
    font-size: 100%;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

ol {
    list-style: decimal;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

label {
    user-select: none;
}

img {
    display: block;
}

/*-------------------- end reset styles --------------------*/

/*-------------------- begin require fonts --------------------*/

@font-face {
    font-family: 'Raleway';
    src:
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src:
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src:
        url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src:
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src:
        url('../fonts/Comfortaa-Bold.woff2') format('woff2'),
        url('../fonts/Comfortaa-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/*-------------------- end require fonts --------------------*/

/*-------------------- begin basic styles --------------------*/

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch;
}

*::-webkit-scrollbar {
    display: none;
}

html,
body,
button,
a {
    font:
        24px/1.1 'Raleway',
        Arial;
    font-weight: 400;
    color: #06162d;
}

html,
body {
    background-color: #fff;
}

h1,
.h1 {
    font-weight: 700;
}

h2,
.h2,
h3,
h4,
h5,
.h3,
.h4,
.h5 {
    font-weight: 600;
}

h1,
.h1 {
    font-size: 32px;
}

h2,
.h2 {
    font-size: 24px;
}

h3,
.h3 {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

.medium {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.wrap {
    display: block;
}

.d-none {
    display: none;
}

.flex {
    display: flex;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-column-wrap {
    flex-flow: column wrap;
}

.flex-column-nowrap {
    flex-flow: column nowrap;
}

.flex-justify-start {
    justify-content: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: flex-end;
}

.overflow-hidden {
    overflow: hidden;
}

.side-padding {
    padding-left: 16px;
    padding-right: 16px;
}

.lining-nums {
    font-variant-numeric: lining-nums;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
}

.vh-100 {
    height: 100vh;
}

.loader {
    width: 24px;
    height: 24px;
}

/*-------------------- end basic styles --------------------*/
